<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{producto.title}}</title>
</head>
<body>
    <h1>{{producto.title}}</h1>
    <p>ID: {{producto.id}}</p>
    <p>{{producto.description}}</p>
    <p>Price: ${{producto.price}}</p>
    <p>Category: {{producto.category}}</p>
    <button onclick="addToCart('{{producto.id}}')">Agregar al Carrito</button>
    <a href="/products">Volver a la lista de productos</a>
</body>
</html>